# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore local files
.byebug_history
.DS_Store
.irbrc

# Ignore all logfiles and tmp
/consumer/log/*.log
/provider/log/*.log
/consumer/tmp/
/provider/tmp/

# Ignore pacts
/consumer/spec/pacts/

